main {
    border: 1px solid black;
    display: flex;
    position: relative;
    top: 75px;
    z-index: 0;
}

main div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 3px solid orange;
}

#search-form {
    position: relative;
    width: 100%;
    height: 70px;
    border: 2px solid red;
}

#gallery {
    width: 100%;
    height: 1500px;
}

nav {
    border: 2px solid blue;
    width: 15%;
    height: 100%;
}